.App {
  text-align: center;
}

.suppliers-sticker{
  width: 120px;
}

@media screen and (max-width: 800px) {
  .suppliers-sticker {
    width: 90px;
  }
}

.w-icon{
  width: 50px;
}

.supplier-card-image{
  width: 100%;
  aspect-ratio: 1/1.25;
  object-fit: cover;
}

.supplier-card-sticker{
  width: 30px;
}

.type-card-image{
  width: 100px;
}

.hero-graphics{
  height: fit-content;
}